@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Noto+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Subrayada&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes spinAndScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@font-face {
  font-family: "Monoton Regular";
  src: url("../fonts/Monoton-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-attachment: fixed;
  color: rgb(33, 33, 33);
  max-width: 100vw;
  overflow-x: hidden;
}

.link, a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button {
  cursor: pointer;
}

.page-section-title {
  font-size: 2.4rem;
  margin: 3rem 0 3rem 0;
}

.visible {
  opacity: 1;
}

.round {
  border-radius: 50%;
}

.image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(33, 33, 33);
  opacity: 0.5;
}

.image-overlay-light {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(33, 33, 33);
  opacity: 0.35;
}

.green-text {
  color: #17d330;
}

.medium-green-text {
  color: #075722;
}

.page-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 9rem;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100vw;
  height: 100%;
}
.homepage .home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
  padding: 9rem 2rem 0;
  background: rgb(47, 44, 44);
  background: linear-gradient(0deg, rgb(47, 44, 44) 0%, rgb(0, 0, 0) 100%);
  min-height: 100vh;
}
.homepage .home-content-container .home-text-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.homepage .home-content-container .home-text-container .title-container h1 {
  width: 100%;
  height: auto;
  color: white;
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 5rem;
  font-style: normal;
  background-color: transparent;
  text-align: center;
  padding-top: 3rem;
}
.homepage .home-content-container .home-text-container .title-container h2 {
  width: 100%;
  height: auto;
  color: white;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 2.2rem;
  font-style: normal;
  background-color: transparent;
  letter-spacing: 0.15rem;
  text-align: end;
  margin-top: 1rem;
}
.homepage .home-content-container .home-text-container p {
  width: 100%;
  height: auto;
  color: white;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
  line-height: 3.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
}
.homepage .home-content-container .home-text-container .home-hero-container {
  width: 20rem;
  height: 20rem;
}
.homepage .home-content-container .home-text-container .home-hero-container img {
  transform: rotate(10deg);
  width: 100%;
  border-radius: 50%;
  background: rgb(217, 195, 195);
  background: linear-gradient(59deg, rgb(217, 195, 195) 0%, rgb(255, 255, 255) 63%);
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage .home-content-container .icons-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.homepage .home-content-container .icons-container img {
  width: 8rem;
  height: auto;
}
.homepage .home-content-container .home-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-bottom: 4rem;
  height: 100px;
}
.homepage .home-content-container .home-nav-container .home-link {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2rem;
}
.homepage .home-content-container .home-nav-container span {
  color: white;
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 1.8rem;
  font-style: normal;
}
.homepage .qrcode-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgb(190, 180, 180);
  background: linear-gradient(59deg, rgb(190, 180, 180) 0%, rgb(255, 255, 255) 63%);
  padding: 3rem 0 2rem;
}
.homepage .qrcode-container p {
  color: rgb(33, 33, 33);
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
}
.homepage .qrcode-container .qr-card {
  width: 32rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  box-shadow: -3px 11px 45px -6px rgba(0, 0, 0, 0.6);
  background-color: whitesmoke;
  padding: 4rem 3rem;
  border-radius: 6px;
}
.homepage .qrcode-container .qr-card .qr-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.homepage .qrcode-container .qr-card .qr-label p {
  color: rgb(33, 33, 33);
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 2rem;
  font-style: normal;
  text-transform: uppercase;
}
.homepage .qrcode-container .qr-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1025px) {
  .homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .homepage .home-content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 9rem 5rem 0;
  }
  .homepage .home-content-container .home-text-container {
    gap: 5rem;
  }
  .homepage .home-content-container .home-text-container .title-container {
    align-self: flex-end;
  }
  .homepage .home-content-container .home-text-container .title-container h1 {
    color: white;
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 6rem;
    font-style: normal;
  }
  .homepage .home-content-container .home-text-container .title-container h2 {
    color: white;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
  }
  .homepage .home-content-container .home-text-container p {
    width: 100%;
    height: auto;
    color: white;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
    line-height: 3.5rem;
    letter-spacing: 0.15rem;
    text-align: start;
    max-width: 80%;
    align-self: start;
  }
  .homepage .home-content-container .home-text-container .home-hero-container {
    width: 32rem;
    height: 32rem;
  }
  .homepage .home-content-container .icons-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .homepage .home-content-container .icons-container img {
    width: 8rem;
    height: auto;
  }
  .homepage .home-content-container .home-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-bottom: 2rem;
    height: 100px;
  }
  .homepage .home-content-container .home-nav-container .home-link {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 2rem;
  }
  .homepage .home-content-container .home-nav-container span {
    color: white;
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 1.8rem;
    font-style: normal;
  }
  .homepage .qrcode-container {
    width: 100%;
    height: 100vh;
    background: rgb(190, 180, 180);
    background: linear-gradient(59deg, rgb(190, 180, 180) 0%, rgb(255, 255, 255) 63%);
    padding: 0;
    gap: 4rem;
  }
  .homepage .qrcode-container p {
    color: rgb(33, 33, 33);
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    letter-spacing: 0.15rem;
  }
  .homepage .qrcode-container .qr-card {
    width: 32rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    box-shadow: -3px 11px 45px -6px rgba(0, 0, 0, 0.6);
    background-color: whitesmoke;
    padding: 4rem 3rem;
    border-radius: 6px;
  }
  .homepage .qrcode-container .qr-card .qr-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .homepage .qrcode-container .qr-card .qr-label p {
    color: rgb(33, 33, 33);
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 2rem;
    font-style: normal;
    text-transform: uppercase;
  }
  .homepage .qrcode-container .qr-card img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100vw;
  height: 100%;
}
.contact .contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
  padding: 12rem 3rem 4rem;
  background: rgb(47, 44, 44);
  background: linear-gradient(0deg, rgb(47, 44, 44) 0%, rgb(0, 0, 0) 100%);
}
.contact .contact-info-container h1 {
  width: 100%;
  height: auto;
  color: white;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 5rem;
  font-style: normal;
  letter-spacing: 0.15rem;
  background-color: transparent;
  text-align: center;
}
.contact .contact-info-container .infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  height: auto;
  max-width: 70rem;
}
.contact .contact-info-container .infos p {
  color: white;
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 2.2rem;
  font-style: normal;
  letter-spacing: 0.15rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.contact .contact-info-container .infos .info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.contact .contact-info-container .infos .info-container p {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
}
.contact .contact-info-container .infos .info-container p span {
  color: white;
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 1.8rem;
  font-style: normal;
}
.contact .contact-info-container .infos .info-container img {
  width: 4rem;
  height: auto;
}
.contact .contact-info-container .double-arrow-container {
  margin-bottom: 4rem;
  flex-grow: 1;
  width: 10rem;
  transform: rotate(180deg);
}
.contact .contact-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

@media only screen and (min-width: 1025px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .contact .contact-info-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .contact .contact-info-container h1 {
    color: white;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 10rem;
    font-style: normal;
  }
  .contact .contact-form-container {
    width: 50%;
    height: 100vh;
  }
}
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 9rem;
  overflow: hidden;
  z-index: 10;
}
.navigation-container .background-layer {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(230, 230, 255, 0.92);
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.navigation-container .expand {
  visibility: visible;
  opacity: 1;
}
.navigation-container .navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  background-color: rgb(249, 246, 238);
  box-shadow: 1px 8px 36px -6px rgba(0, 0, 0, 0.25);
  min-height: 9rem;
}
.navigation-container .navbar .menu-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 3rem;
  left: unset;
  right: 2rem;
  bottom: unset;
}
.navigation-container .navbar .logo-container {
  width: auto;
  height: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.navigation-container .navbar .logo-container p {
  color: Black;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
  margin-left: 2rem;
}
.navigation-container .navbar .logo-container .navbar-logo {
  width: 20rem;
  height: auto;
  margin-left: 1rem;
}
.navigation-container .navbar .links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 0;
  padding-left: 2rem;
  opacity: 0;
  transition: height 0.3s ease;
}
.navigation-container .navbar .links-container .link {
  width: 100%;
  height: 5rem;
  color: black;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
}
.navigation-container .navbar .links-container .link .selector {
  display: none;
}
.navigation-container .navbar .expand {
  height: 25rem;
  opacity: 1;
}

.expand {
  height: auto;
}

@media only screen and (min-width: 650px) and (max-width: 1025px) {
  .navigation-container {
    width: 100vw;
    height: 15rem;
  }
  .navigation-container .background-layer {
    display: none;
  }
  .navigation-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 0 6%;
  }
  .navigation-container .navbar .menu-btn {
    display: none;
  }
  .navigation-container .navbar .logo-container p {
    margin-left: 0;
  }
  .navigation-container .navbar .links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: auto;
    height: 100%;
    padding: 0;
    opacity: 1;
  }
  .navigation-container .navbar .links-container .link {
    width: auto;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: relative;
    font-size: 1.6rem;
  }
  .navigation-container .navbar .links-container .link .selector {
    width: 100%;
    height: 0.35rem;
    position: absolute;
    top: undefined;
    left: 0;
    right: undefined;
    bottom: 0;
    background-color: rgba(33, 33, 33, 0.7);
    display: none;
  }
  .navigation-container .navbar .links-container .link .selected {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .navigation-container {
    width: 100vw;
    height: 15rem;
  }
  .navigation-container .background-layer {
    display: none;
  }
  .navigation-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 0 15%;
  }
  .navigation-container .navbar .menu-btn {
    display: none;
  }
  .navigation-container .navbar .logo-container p {
    margin-left: 0;
  }
  .navigation-container .navbar .links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.8rem;
    width: auto;
    height: 100%;
    padding: 0;
    opacity: 1;
  }
  .navigation-container .navbar .links-container .link {
    width: auto;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: relative;
    font-size: 1.6rem;
  }
  .navigation-container .navbar .links-container .link .selector {
    width: 100%;
    height: 0.35rem;
    position: absolute;
    top: undefined;
    left: 0;
    right: undefined;
    bottom: 0;
    background-color: rgba(33, 33, 33, 0.7);
    display: none;
  }
  .navigation-container .navbar .links-container .link .selected {
    display: block;
  }
}
.inProgress-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 2rem;
}
.inProgress-container div {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.inProgress-container div h2 {
  color: black;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.8rem;
  font-style: normal;
}
.inProgress-container div p {
  color: black;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
  letter-spacing: 0.12rem;
}

.steps-components {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
}
.steps-components .steps-components-title {
  width: 100%;
  text-align: center;
  color: black;
  font-family: Poppins;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
  margin: 2rem;
}
.steps-components .step {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: auto;
  height: auto;
  background-color: rgb(230, 230, 230);
  border-radius: 6px;
  padding: 2rem 2rem;
  flex: 1;
}
.steps-components .step .top-step-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  height: 6rem;
}
.steps-components .step .top-step-container h2 {
  color: black;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.8rem;
  font-style: normal;
}
.steps-components .step .illustration-container {
  margin-top: 2rem;
  width: 20rem;
  height: 20rem;
}
.steps-components .step .illustration-container img {
  width: 100%;
  height: auto;
}
.steps-components .step p {
  text-align: center;
  color: black;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  min-height: 10rem;
}
.steps-components .step .step-button {
  color: #242aa7;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
}

@media only screen and (min-width: 1025px) {
  .steps-components {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
  }
  .steps-components .steps-components-title {
    width: 100%;
    text-align: center;
    color: black;
    font-family: Poppins;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    margin: 2rem;
  }
  .steps-components .step {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    width: auto;
    height: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
    padding: 2rem 1.5rem;
    flex: 1;
  }
  .steps-components .step .top-step-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 6rem;
  }
  .steps-components .step .top-step-container h2 {
    color: black;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.6rem;
    font-style: normal;
  }
  .steps-components .step .illustration-container {
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
  }
  .steps-components .step .illustration-container img {
    width: 100%;
    height: auto;
  }
  .steps-components .step p {
    text-align: center;
    color: black;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    min-height: 10rem;
  }
  .steps-components .step .step-button {
    color: #242aa7;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
  }
}
.aboutMe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  margin: 4rem 0;
}
.aboutMe-container .image-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.aboutMe-container .image-container img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.aboutMe-container .text-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.aboutMe-container .text-content h2 {
  color: black;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.8rem;
  font-style: normal;
}
.aboutMe-container .text-content p {
  color: black;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
  letter-spacing: 0.15rem;
}

@media only screen and (min-width: 1025px) {
  .aboutMe-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    max-width: 70%;
    min-height: 40rem;
    padding: 2rem;
  }
  .aboutMe-container .image-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .aboutMe-container .image-container img {
    width: 30rem;
    height: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .aboutMe-container .text-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .aboutMe-container .text-content h2 {
    color: black;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.8rem;
    font-style: normal;
  }
  .aboutMe-container .text-content p {
    color: black;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
    letter-spacing: 0.15rem;
  }
}
.form-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  max-width: 65rem;
  min-height: 65rem;
  padding: 2rem 2rem 8rem;
}
.form-container h2 {
  color: #222425;
  font-family: Poppins;
  font-weight: bold;
  font-size: 2.2rem;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 2rem 0 0;
}
.form-container .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.form-container .form .form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 7.5rem;
}
.form-container .form .form-input label {
  color: black;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
}
.form-container .form .form-input input {
  background-color: transparent;
  border-radius: 4px;
  border: 0.1rem solid black;
  width: 100%;
  height: 3.8rem;
  padding: 1rem;
  cursor: pointer;
}
.form-container .form .form-input textArea {
  background-color: transparent;
  border-radius: 4px;
  border: 0.1rem solid black;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 1rem;
  cursor: pointer;
}
.form-container .form .double-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 10rem;
}
.form-container .form .double-input-container .form-input {
  width: 100%;
}
.form-container .form .form-button {
  color: white;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
  background-color: #1f8fa9;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  border-style: none;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 1025px) {
  .form-container {
    margin-top: 9rem;
    max-width: 65rem;
    max-height: 50rem;
  }
}/*# sourceMappingURL=main.css.map */